@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700&subset=cyrillic');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
	font-size: 10px;
}
body { 
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2.5rem;
}
button:focus, button:active, button, input, textarea {outline:0;}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    // float: none;
}
.no-gutter, .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

section.wrapper {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	        height: 100%;
}
.info {
	min-height: 100%;
	padding-bottom: 12rem;
	background: url(../img/bg.jpg) center center no-repeat fixed;
	background-size: cover;
}

.top-line {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin-bottom: 5rem;
}

.logo-description {
}
.logo-subdescription  {

}
.phone-hot {
	text-transform: uppercase;
	
}
.phone-number {
	font-weight: 700;
}
.phone-hot, .phone-number {
	text-align: right;
	display: inline-block;
	margin-top: 1rem;
}

.bg-form {
	-webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 1, 0.35);
	        box-shadow: 0px 0px 24px 0px rgba(0, 0, 1, 0.35);
	background-color: rgba(255, 255, 255, 0.05);
	width: 100%;
	margin-bottom: 5rem;
	padding: 5rem;
}
.form-header {
	// margin-top: 2rem;
	font-weight: 700;
	margin-bottom: 2.5rem;
}
#input-name, #input-phone, #input-msg {
	border:0px;
	background-color: transparent;
    border-bottom:2px solid #eee;
}
.form-control-feedback {
	top: 25% !important;
	right: 10px !important;
}
.i-name, .i-phone, .i-msg, .i-send  {
	width: 100%;
	border: 0;
	color:  #fff;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1.2;
	padding: 2rem 1rem 2rem 0rem;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    opacity:  1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

.i-send {
	font-size: 2rem;
	-webkit-border-radius: 4px;
	        border-radius: 4px;
	background-color:  #182e5e;
	color: #fff;	
	font-weight: 700;
}

.orange-header {
	margin-top: 20%;
	color:  #ff9933;
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
}
.orange-description {
	font-size: 2.3rem;
}
.orange-text {
	margin-top: 2rem;
	font-size: 2.3rem;
}

.ft {
	padding-top: 3rem;
	padding-bottom: 3rem;	
	height: 20rem;
  	margin-top: -20rem;
  	margin-left: 0 !important;
  	margin-right: 0 !important;
}
.ft-left-h {
	color: #333333;
	font-size: 1.5rem;
}
.ft-center-three {
	font-size: 1.5rem;
}

@media (max-width: 768px) { 
	html {
		font-size: 5px;
	}
	.orange-header {
		margin-top: 5%;
	}
	.orange-text {
		margin-bottom: 5%;
	}
}
@media (min-width: 0px) and (max-width: 992px) {

}